@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
    margin: 0;
    padding: 0;
    @apply bg-gray-700;
    @apply h-screen ; 
    @apply w-screen ;
}

.header-label {
    @apply bg-gradient-to-r;
    @apply from-gray-500;
    @apply font-bold;
    @apply mx-2;
    @apply w-56;
    @apply mt-12;
    @apply p-2;
    @apply rounded-tl-lg;
    @apply tracking-wider;
    @apply text-white;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}